controller:
  admin:
    username: admin
    password: Admin123!
  serviceType: ClusterIP
  persistence:
    enabled: false
  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "300m"
      memory: "512Mi"
